.cluster-1{

    background-image: linear-gradient(120.78deg, #FC6076 10.48%, #FBDC89 85.86%) !important;
}
.cluster-2{
    background-image: linear-gradient(165.62deg, #2AF598 16.15%, #009EFD 136.88%) !important;
}
.cluster-3{
    background-image:  linear-gradient(90deg, #F5509F 27.97%, #FB7277 80.61%) !important;
}
.cluster-4{
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}
.final-cluster{
    width: 51%;
    padding: 0 !important;
    margin: 0 !important;
    position: absolute;
    margin-top: 2px !important;
    right: 20px;
}
.g1{
    width: 15%;
}
.cluster-group{
    padding-left: 20px !important;
    width: 100%;
}
.title-clus-group{
    padding-top: 10px;
    margin: 0;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: 700;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}