.point-page{
    height: 100vh;
    background-color: #FBF8FB;
}
.point-group{
    margin-top: 10px !important;
}
.charts-point{
    padding-left: 20px !important;
    padding-right: 20px !important;
}